
<%- include("header") -%>
    
<h1 class="display-3 heading">Add_Customer_Detail</h1>

    <form class="form " action="/add-customer-data.ejs" method="POST">
        <br>  
        <br>  
        <h4 class="h6">
        <div>
          Customer-No : <input type="text" name="No" id="Customer-No " placeholder="Enter Id">
        </div>
        <br>
        <div>
           Customer-Name :<input type="text" name="myName" id="name" placeholder="Enter Name">
        </div>
        <br>
        <div>
            Customer-Address : <textarea name="myaddress" id="Customer-address" cols="30" rows="3" placeholder="Enter Customer Adress"></textarea>
        </div>
        <br>
        <div>
            Email: <input type="email" name="myEmail" placeholder="abc@gmail.com">
        </div>

        <br>
        <div>
            Date: <input type="date" name="myDate">
        </div>
        <br>
       
        <br>
        <div>
            <label for="Bike">Bike</label>
            <select name="Bike" id="Bike">
                <option value="royal-enfield-classic-350">Royal-Enfield-classic-350</option>
                <option value="royal-enfield-classic-satin" selected>Royal-Enfield-Elassic-Eatin</option>
                <option value="Royal-enfield-Himalya" selected>Royal-enfield-Himalya</option>
            </select>
        </div>
        <br>
        <div>
            Write Description: <br><textarea name="myText" cols="30" rows="3"></textarea>
        </div>

        <br>
        

        <div>
            <input class="btn btn-success" type="submit" value="Submit Now">
            
        </div>
        <br>
        </h4>
      
    </form>


<%- include("footer") -%>