 <!-- Footer -->

 <footer id="footer">
    <h2><i>Follow us on Social media.</i></h2>
    <a href="https://www.facebook.com/"  target="_blank"> <i class="social-icon fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
   <a href=" https://www.instagram.com/"  target="_blank"><i class="social-icon fa fa-instagram fa-2x" aria-hidden="true"></i></a>
   <a href="https://mail.google.com/"  target="_blank"><i class="social-icon fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/?lang=en"  target="_blank"><i class="social-icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  
    <p>© Copyright 2020 Royal Enfield</p>

  </footer>
</body>
</html>