<%- include("header") -%>

<div class="writereviewbanner">
 
    <div class="bannerCenter"><div class="gsc_container gsc_container_hold">
        <div class="gsc_row"><span class="gsc_col-sm-7 gsc_col-md-6 bannerheading">Share your bike story and Help buyers like you</span>
            <div class="gsc_col-md-12 clear  writeReviewTypehead"></div></div></div>
            <div class="sponserBox"></div></div></div>
</div>

<%- include("footer") -%>